<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: common_head()"></head>
<nav th:replace="common/navbar :: common_navbar"></nav>
<body>

<div class="container">
    <!-- Page Content goes here -->
    <h3 class="header">[[#{service_reg_title}]]</h3>

    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s4">
                    <input th:placeholder="#{service_reg_name}" id="serviceName" type="text" class="validate"/>
                    <label for="serviceName">[[#{service_reg_name}]]</label>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action" th:value="#{service_reg_add}">
                    <i class="material-icons right">send</i>
                </button>

                <div class="row">
                    <div class="input-field col s12">
                        <textarea type="text" id="predifiniedServicesTextArea" class="materialize-textarea">
                            </textarea>
                        <label for="predifiniedServicesTextArea">Nombre</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                        <label>País</label>
                    </div>
                    <div class="input-field col s4">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                        <label>Municipio</label>
                    </div>
                    <div class="input-field col s4">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                        <label>Estado</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <input type="text" class="validate">
                        <label>Razón Social</label>
                    </div>
                    <div class="input-field col s4">
                        <input type="text" class="validate">
                        <label>Teleéfono</label>
                    </div>
                    <div class="input-field col s4">
                        <input type="text" class="validate">
                        <label>Correo Electrónico</label>
                    </div>
                </div>
                <div class="right">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>